@import 'colors';

.cyberFrameStyle{
    width: 100%;
    height: 100%;
    position: fixed;

    box-sizing: content-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cyberFrameStyle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - $PaddingPhone * 2);
    height: calc(100% - $PaddingPhone * 2);

    margin: $PaddingPhone;
    border: 1px solid $primary-color;

    box-shadow: 0 0 15px -5px $secondary-color, inset 0 0 15px -5px $secondary-color;

}